<!DOCTYPE html>
{%load static%}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<meta charset="utf-8">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png'%}">
<html lang="ru"> 
  <head>  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}Профайл пользователя {{ author.get_full_name }} {% endblock title %} </title>
  </head>
  <body>       
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      <div class="container py-5">        
        <h1>Все посты пользователя {{ author.get_full_name }} </h1>
        
        <h3>Всего постов: {{author.posts.all.count}} </h3> 
        <article>
          
          <p>
            <h6>Последний пост:</h6>
          </p>
          <li>
            Дата публикации: {{ posts.first.pub_date|date:"d E Y" }}
          </li>
          <p> {{posts.first.text}}</p>
          
        </article>       
        
        <hr>
        <h6> Все посты автора: </h6>
        {% for post in page_obj %}
        <ul>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text}}</p>
        {% if post.group %}  
        <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
        {%else%}
        Пост без группы
        {%endif%}
        <p>
          <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
        </p>
          {%if not forloop.last%} <hr> {% endif %}
        {% endfor %}
        
        {% include 'posts/includes/paginator.html' %}   
        </div>
    </main>
    <footer
      {% include 'includes/footer.html' %}    
    </footer>
  </body>
</html> 